<form method="POST" action="/api/search/display">
    <H2>Search</H2>
    Page : <input type="text" name="page" placeholder="Enter page"><br><br>
    Per page limit : <input type="text" name="perPage" placeholder="Enter Per Page Limit"><br><br>
    Borough : <input type="text" name="borough" placeholder="Enter Borough"><br><br>
    <input type="submit" value="Search">
</form>